<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap">
</head>

<body>
    <header>
        <div class="menu-principal">
            <div class="header-principal">
                <div class="logo-header">
                    <img src="img/logo-mercado-liebre.svg" alt="logo-header" />
                </div>

                <div class="search-button">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <button class="button-header" type="submit"> <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="aviso-principal">
                <div class="text-header">
                    <p> <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito </p>
                </div>

                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </div>

        <div class="opciones">
            <nav class="menu-izq">
                <ul class="lista">
                    <li><a href="#"> Ofertas </a> </li>
                    <li><a href="#"> Tiendas Oficiales </a> </li>
                    <li><a href="#"> Vender </a> </li>
                    <li><a href="#"> Ayuda </a> </li>
                </ul>
            </nav>

            <nav class="menu-der">
                <ul class="lista">
                    <li><a href="register"> Crea tu cuenta </a> <i class="far fa-address-card"></i> </li>
                    <li><a href="login"> Ingresa </a> <i class="fas fa-sign-in-alt"></i> </li>
                    <li><a href="#"> Mis compras </a><i class="fas fa-shopping-basket"></i> </li>
                </ul>
            </nav>

        </div>
    </header>

    <section class="login">

        <form action="login.html" method="POST">
            <h3>Ingreso</h3>
            <div class="user">
                <input type="text" name="usuario" placeholder="Nombre de Usuario" required minlength="2">
            </div>
            <div class="passL">
                <input type="password" name="pass" placeholder="Contraseña" required minlength="6">
            </div>

            <a href="home"><button type="submit">Enviar</button></a>
        </form>

    </section>

    <footer>

        <div class="secciones">
            <div class="card">
                <i class="far fa-credit-card"></i>
                <h2> Paga con tarjeta o en efectivo </h2>
                <p> Con Mercado libre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. Y siempre
                    es seguro!</p>
            </div>

            <div class="gift">
                <i class="fas fa-gift"></i>
                <h2> Envio gratis desde $2.500 </h2>
                <p> Solo por estar registrad@ en Mercado Libre tenes envios gratis en miles de productos. Es un
                    beneficio de Mercado Puntos.</p>
            </div>

            <div class="security">
                <i class="fas fa-user-shield"></i>
                <h2> Seguridad, de principio a fin </h2>
                <p> No te gusta? Devolvelo! En Mercado Libre, no hay nada que no puedas hacer, porque estas siempre
                    protegid@ </p>
            </div>

            <div class="copyright">
                <p> Copyright © 1999-2020 MercadoLibre S.R.L </p>
            </div>
        </div>

    </footer>
</body>

</html>